.body{
font-size: 20px;
text-align: center;
background: rgb(6,5,36);
background: linear-gradient(90deg, rgba(6,5,36,1) 35%, rgba(0,81,191,1) 100%);
}

.card{ 
  padding: 15px; 
display: inline-flex;
width: 250px;
height: 350px;
margin: 25px;
margin-left: 80px;
margin-right: 80px;
border-radius: 10px;
background: rgba(148, 139, 139, 0.3);
box-shadow: 0px 15px 0 rgba(3, 10, 107, 0.37);
backdrop-filter: blur(3px);
   } 
   .link{
    text-decoration: none;
    color: aliceblue;
    font-size: 25px;
 
   }
    .card:hover {
        box-shadow: 0px 12px 25px #0f0592;
        background-size: cover;
          transform: translateY(-15px);
         
         background-color: rgb(6, 1, 37);
         
    } 
  .h1{
    margin-top: 30px;
    font-size: 50px;
      font-family: 'Open Sans', sans-serif;
  }
  button{
    padding: 15px;
    border-radius: 5px;
    background: rgba(250, 244, 244, 0.3);
    box-shadow: 0px 10px 0 rgba(6, 18, 107, 0.37);
    backdrop-filter: blur(2px);
    border: 1px solid  rgba(92, 86, 86, 0.3);
    color: white;
    font-size: 16px;
     
  }
  button:active{
    box-shadow: 0px 12px 25px #05013a;
    background-size: cover;
     
     background-color: rgb(78, 77, 88);
     
  }
  button:hover{
     background-color: rgb(40, 36, 66);
  }
  
  .boton{
      box-shadow: 0px 12px 25px #0f0592;
    margin-right: 10px;
    background-color: rgb(6, 1, 37);
       
  }

  .boton2{
      box-shadow: 0px 12px 25px #1103d4;
    margin-right: 10px;
    background-color: rgb(6, 1, 37);
       
  }


.select {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  appearance:none;
  outline: 0;
  box-shadow:none;
  border:  none !important;
  padding:10px;
  color:#fff;
  font-family: 'Open Sans', sans-serif;
}
select::-ms-expand {
  display: none;
}
select {
  position: relative;
  display: flex;
  width: 30rem;
  background: #030127;
  overflow: hidden;
  border-radius: .25em;
  color: whitesmoke;
  font-size: 16px;
  border: 1px solid rgb(46, 46, 46);
}
select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #2b2e2e;
  cursor:pointer;
  pointer-events:none;
  transition:.25s all ease;
}


.switch{
  background: #343D5B;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
  
}

.filter{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}