.Paginado{
    display: inline-block;
font-size: medium;
    
    
}
.Paginado a{
  box-shadow: 0px 5px 10px #0f0592;
margin-right: 5px;
border-radius: 5px;
background-color: rgb(6, 1, 37);
   padding: 13px;
}
.Paginado a:hover{
  background-color: #0a0158;
}
  
.boton{
  box-shadow: 0px 12px 25px #0f0592;
margin-right: 10px;
background-color: rgb(6, 1, 37);
   
}